{{ define "main" }}
<link rel="stylesheet" href="{{ `css/style-single.css` | absURL }}">

<div class="single-grace">

    <!-- Weeks Info -->
    <div class="post-info">
        <div class="post-title">
            <h2>{{.Title}}</h2>
        </div>
        <div class="post-date">
            <h3>{{ .Date.Format "Jan 2, 2006" }}</h3>
        </div>
        <a href="/index.html">
        <img id="right-arrow" src="/images/up-arrow-right-sm.png"/>
        </a>
    </div>

    <!-- Contents -->

    <div class="content-container">
        {{.Content}}
    </div>

    <!-- Post Image -->
    <img class="post-img" src="{{ .Params.image | relURL }}" alt="image" loading="lazy">


     <!-- bg graphics -->
     <img id="top-red" src="/images/top-red.png" />
     <img id="bottom-red" src="/images/bottom-red.png" />
     
</div>
{{ end}}