{{ define "main" }}
<link rel="stylesheet" href="{{ `css/style-single.css` | absURL }}">

<div class="single-grace">

    <!-- Weeks Info -->
    <div class="post-info">
        <a href="/index.html">
            <div class="post-title">
                {{.Title}}
                <div class="post-date">
                    {{ .Date.Format "Jan 2, 2006" }}
                </div>
                <img id="left-arrow" src="/images/up-arrow-left-sm.png"/> 
            </div>
        </a>
    </div>

    <!-- Contents -->

    <div class="content-container">
        {{.Content}}
    </div>

    <!-- Post Image -->
    <img class="post-img" src="{{ .Params.image | relURL }}" alt="image" loading="lazy">


    <!-- bg graphics -->
    <img id="top-purple" src="/images/top-purple.png" />
    <img id="bottom-purple" src="/images/bottom-purple.png" />
     
     
</div>
{{ end}}