/* sass --watch style.scss:style.css  */

/* ---------- Variables ---------- */
$m-media: 900px;

/* ----- Global ----- */
html {
    margin: 0;
    padding: 0;
}

html, body {
    overscroll-behavior: none;
}

body {
    background-image: url("../images/background-texture.jpg");
    background-color: #E8EBB4;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ----- Typography ----- */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/DMSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/DMSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'covik-sans', sans-serif; 
    font-style: normal;
    font-weight: 400;
    @import url("https://use.typekit.net/hgw3osi.css");
}

@font-face {
    font-family: 'covik-sans', sans-serif; 
    font-style: normal;
    font-weight: 700;
    @import url("https://use.typekit.net/hgw3osi.css");
}

a {
    text-decoration: none;
    color: #000;
}

a:hover,
.about:hover,
.index:hover,
.post-title:hover,
.post-date:hover {
    text-decoration: none;
    background: linear-gradient(90deg, #E94545, #FE7B51, #8D77ED, #529BCE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 2s infinite linear;
    cursor: pointer;
 }

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

#weektitle {
    font-family: 'covik-sans', sans-serif; 
    font-weight: 700;
    font-size: 3vw;
}

#weekdate {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

/* ----- Post Logo Header ----- */

.logo-header {
    position: fixed;
    z-index: 3;
    display: flex;
    margin: 4vh 0 0 4vh;

    #post-header {
        width: 15vw;
        background-image: url("/images/logo.svg");
        background-repeat: no-repeat;
        background-size: 15vw;
        cursor: pointer;
        width: 15vw;
        height: 15vh;

        &:hover {
            background: linear-gradient(90deg, #E94545, #FE7B51, #8D77ED, #529BCE);
            mask-image: url("/images/logo.svg");
            -webkit-mask-image: url("/images/logo.svg");
            -webkit-mask-size: 100%;
            -webkit-mask-repeat: no-repeat;
        }
    }
    
    #em-dash {
        height: 0.8vh;
        width: 4vw;
        background-color: #000;
        border-radius: 8px;
        margin-top: 10%;
        margin-left: 1vw;
    }
}


/* ----- Bottom Nav----- */
.bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    z-index: 2;
    position: fixed;
    font-size: 24px;

    #index, #about {
        font-family: 'covik-sans', sans-serif; 
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E8EBB4;
        outline: 2px solid black;
        padding: 20px; 
        cursor: pointer;

        @media (max-width: $m-media) {
            width: 50%;
        }
    }
}

/* ----- Index Content ----- */
#index-content {
    display: none;
    position: fixed;
    top: 0;
    width: 40vw;
    height: 100%;
    background-color: #E8EBB4; 
    outline: 2px solid black;
    z-index: 3;
    overflow: scroll;

    @media (max-width: $m-media) {
        width: 100vw;
    }

    .overlay-bg {
        background-color: black;
        opacity: 50%;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 0;
    }

    .flex-grid-thirds {
        position: relative;
        display: flex;
        margin-top: 8vh;
        margin-bottom: 8vh;
        background-color: #E8EBB4; 
    
        .col-two {
            flex-grow: 0.5;
        }
    }

    /* ----- Post Content ----- */
    .nav-post-container {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

        .nav-post-image img {
            width: 20vh;

            @media (max-width: $m-media) {
                width: 15vh;
            }
        }
        
        .post-title {
            font-family: 'covik-sans', sans-serif; 
            font-weight: 700;
            font-size: 26px;
        }  
        
        .post-date {
            font-family: 'DM Sans', sans-serif;
            font-weight: 400;
        }
    }

    /* ----- Nav ----- */
    .topnav,
    .bottomnav {
        height: 8vh;
        width: 40vw;
        position: fixed;
        z-index: 4;
        background-color: #E8EBB4;
        outline: 2px solid black;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $m-media) {
            width: 100vw;
        }
    }

    .topnav {
        top: 0;

        #close {
            position: absolute;
            right: 20px;
            top: 2vh;
            height: 4vh;
            cursor: pointer;
        }
    }

    .bottomnav {
        bottom: 0;
    }

    #up-arrow-sm,
    #down-arrow-sm {
        height: 5vh;
    }
}




