/* ---------- Imports ---------- */
/* sass --watch style.scss:style.css  */
/* ---------- Variables ---------- */
/* ----- Global ----- */
@import url("https://use.typekit.net/hgw3osi.css");
@import url("https://use.typekit.net/hgw3osi.css");
html {
  margin: 0;
  padding: 0;
}

html, body {
  overscroll-behavior: none;
}

@media (max-width: 900px) {
  html, body {
    overflow-x: hidden;
  }
}

body {
  background-image: url("../images/background-texture.jpg");
  background-color: #E8EBB4;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ----- Typography ----- */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'covik-sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'covik-sans', sans-serif;
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
.about:hover,
.index:hover,
.post-title:hover,
.post-date:hover {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#E94545), color-stop(#FE7B51), color-stop(#8D77ED), to(#529BCE));
  background: linear-gradient(90deg, #E94545, #FE7B51, #8D77ED, #529BCE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 2s infinite linear;
  cursor: pointer;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* ----- Post Logo Header ----- */
.logo-header {
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4vh 0 0 4vh;
}

.logo-header #post-header {
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  width: 15vw;
  height: 15vh;
}

.logo-header #post-header:hover {
  background: -webkit-gradient(linear, left top, right top, from(#E94545), color-stop(#FE7B51), color-stop(#8D77ED), to(#529BCE));
  background: linear-gradient(90deg, #E94545, #FE7B51, #8D77ED, #529BCE);
  mask-image: url("/images/logo.svg");
  -webkit-mask-image: url("/images/logo.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
}

@media (max-width: 900px) {
  .logo-header #post-header {
    width: 30vw;
    height: 30vh;
  }
}

.logo-header #em-dash {
  display: none;
  height: 0.6vh;
  width: 5vh;
  background-color: #000;
  border-radius: 8px;
  margin-top: 10%;
  margin-left: 1vw;
}

/* ----- Bottom Nav----- */
.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  bottom: 0;
  z-index: 2;
  position: fixed;
  font-size: 24px;
}

.bottom-nav #index, .bottom-nav #about {
  font-family: 'covik-sans', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E8EBB4;
  outline: 3px solid black;
  padding: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .bottom-nav #index, .bottom-nav #about {
    width: 50%;
    padding: 8px;
  }
}

/* ----- Index Content ----- */
#index-content {
  display: none;
  position: fixed;
  top: 0;
  width: 40vw;
  height: 100%;
  background-color: #E8EBB4;
  outline: 2px solid black;
  z-index: 3;
  overflow: scroll;
  /* ----- Post Content ----- */
  /* ----- Nav ----- */
}

@media (max-width: 900px) {
  #index-content {
    width: 100vw;
  }
}

#index-content .overlay-bg {
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

#index-content .flex-grid-thirds {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vh;
  margin-bottom: 8vh;
  background-color: #E8EBB4;
}

#index-content .flex-grid-thirds .col-two {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

#index-content .nav-post-container {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#index-content .nav-post-container img[src$='#landscape'] {
  width: 12vw;
}

@media (max-width: 900px) {
  #index-content .nav-post-container img[src$='#landscape'] {
    width: 25vw;
  }
}

#index-content .nav-post-container img[src$='#portrait'] {
  width: 10vw;
}

@media (max-width: 900px) {
  #index-content .nav-post-container img[src$='#portrait'] {
    width: 20vw;
  }
}

#index-content .nav-post-container .post-title {
  font-family: 'covik-sans', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

@media (max-width: 900px) {
  #index-content .nav-post-container .post-title {
    font-size: 22px;
  }
}

#index-content .nav-post-container .post-date {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#index-content .topnav,
#index-content .bottomnav {
  height: 8vh;
  width: 40vw;
  position: fixed;
  z-index: 4;
  background-color: #E8EBB4;
  outline: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  #index-content .topnav,
  #index-content .bottomnav {
    width: 100vw;
  }
}

#index-content .topnav {
  top: 0;
}

#index-content .topnav #close {
  position: absolute;
  right: 20px;
  top: 2vh;
  height: 4vh;
  cursor: pointer;
}

#index-content .bottomnav {
  bottom: 0;
}

#index-content #up-arrow-sm,
#index-content #down-arrow-sm {
  height: 5vh;
}

.post-title {
  font-family: 'covik-sans', sans-serif;
  font-weight: 700;
  font-size: 2vw;
}

@media (max-width: 900px) {
  .post-title {
    font-size: 18px;
  }
}

.post-date {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1vw;
}

@media (max-width: 900px) {
  .post-date {
    font-size: 18px;
  }
}

.content-container h2 {
  font-family: 'covik-sans', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
}

.content-container p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.2vw;
}

@media (max-width: 900px) {
  .content-container p {
    font-size: 16px;
  }
}

#left-arrow:hover,
#right-arrow:hover {
  cursor: pointer;
}

@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bounce-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* ----- Post Word ----- */
.post-word {
  font-family: 'covik-sans', sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 5vw;
  top: 1vh;
  right: 4vh;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-image: url("../images/background-texture.jpg");
  background-color: #E8EBB4;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

@media (max-width: 900px) {
  .post-word {
    right: 0;
    padding-right: 4vw;
    margin-top: 2vh;
    font-size: 8vw;
  }
}

/* ----- Post Image ----- */
img[src$='#landscape'] {
  width: 40vw;
}

@media (max-width: 900px) {
  img[src$='#landscape'] {
    width: 90vw;
  }
}

img[src$='#portrait'] {
  width: 30vw;
}

@media (max-width: 900px) {
  img[src$='#portrait'] {
    width: 90vw;
  }
}

/* ----- Post Image ----- */
.post-img {
  display: block;
}

@media (max-width: 900px) {
  .post-img {
    display: absolute;
    top: 0;
    margin: auto;
  }
}

/* ----- Post Date ----- */
.post-info {
  text-align: center;
  z-index: 3;
}

.post-info span {
  display: none;
}

@media (max-width: 900px) {
  .post-info {
    margin: 25% 0 10% -20%;
  }
  .post-info span {
    display: block;
    padding: 0 2% 0 2%;
  }
  .post-info .single-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ----- Post Content ----- */
.center-content {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 900px) {
  .center-content {
    width: auto;
    height: auto;
  }
}

/* ----- Post Content Reference Images----- */
img[src$='#reference'] {
  padding-top: 10%;
  width: 25vw;
}

@media (max-width: 900px) {
  img[src$='#reference'] {
    width: 80vw;
  }
}

/* ----- Single Grace ----- */
#single-grace {
  padding: 0 10vw 0 4vw;
}

@media (max-width: 900px) {
  #single-grace {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* ----- Post Date ----- */
#left-arrow {
  padding-top: 5%;
  width: 25%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 900px) {
  #left-arrow {
    width: 14%;
    padding-top: 0;
    margin: 0 0 0 -86%;
  }
}

img[src$='#lineart-grace'],
img[src$='#color-minji'] {
  width: 4vw;
  margin-left: -19%;
  margin-top: 12px;
  position: absolute;
}

@media (max-width: 900px) {
  img[src$='#lineart-grace'],
  img[src$='#color-minji'] {
    width: 6vw;
    margin-left: -12%;
    margin-top: 6%;
  }
}

/* ----- Post Content ----- */
.content-container {
  overflow-y: scroll;
  width: 30vw;
  height: 100vh;
  padding: 16vh 0 12vh 0;
}

.content-container p {
  padding-top: 2vh;
}

.content-container .content {
  width: 25vw;
  position: relative;
  float: right;
}

@media (max-width: 900px) {
  .content-container .content {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  .content-container {
    overflow: auto;
    width: 100vw;
    height: auto;
    padding: 30% 30px 20% 0;
  }
}

/* ----- Purple Graphics ----- */
.single-purple #top-purple {
  position: fixed;
  top: -10%;
  left: 40vh;
  width: 50vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .single-purple #top-purple {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 40vh;
  }
}

.single-purple #bottom-purple {
  position: fixed;
  bottom: -5%;
  left: 5%;
  width: 50vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .single-purple #bottom-purple {
    position: absolute;
    bottom: 12%;
    left: -5%;
    width: 40vh;
  }
}

/* ----- Single Minji ----- */
#single-minji {
  padding: 0 4vw 0 10vw;
}

#single-minji #left-arrow {
  display: none;
}

@media (max-width: 900px) {
  #single-minji {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #single-minji #left-arrow {
    display: block;
  }
}

/* ----- Squiggle Line ----- */
.squiggle-line {
  position: absolute;
  top: 0.5%;
  left: 18%;
  stroke-dasharray: 1000px;
  stroke-dashoffset: 0px;
  -webkit-animation: draw 5s linear;
          animation: draw 5s linear;
  height: 10vh;
  width: 75vw;
}

@media (max-width: 900px) {
  .squiggle-line {
    left: 40%;
  }
}

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 800px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 800px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

/* ----- Post Date ----- */
#right-arrow {
  padding-top: 5%;
  width: 25%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 900px) {
  #right-arrow {
    display: none;
  }
}

/* ----- Post Content ----- */
img[src$='#lineart-minji'],
img[src$='#color-grace'] {
  width: 4vw;
  margin-left: -20%;
  margin-top: 4%;
  position: absolute;
}

@media (max-width: 900px) {
  img[src$='#lineart-minji'],
  img[src$='#color-grace'] {
    width: 6vw;
    margin-left: -12%;
    margin-top: 6%;
  }
}

/* ----- Red Graphics ----- */
.single-red #top-red {
  position: fixed;
  top: 0;
  right: 40vh;
  width: 30vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .single-red #top-red {
    position: absolute;
    top: 12%;
    right: 0;
    width: 20vh;
  }
}

.single-red #bottom-red {
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 80vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .single-red #bottom-red {
    position: absolute;
    bottom: 25%;
    right: 50%;
    width: 60vh;
  }
}

.single-about {
  display: none;
  padding: 100px;
  font-size: 40px;
  line-height: 65px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: auto;
  width: 100vw;
  background-image: url("../images/background-texture.jpg");
  background-color: #E8EBB4;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.single-about #close-about {
  position: fixed;
  display: block;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.single-about p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  width: 55vw;
}

.single-about .about-img img {
  position: relative;
  margin-top: 60px;
  margin-right: 60px;
  width: 20vw;
}

.single-about .color-img img {
  position: fixed;
}

.single-about .color-img img:nth-child(1) {
  top: 0;
  right: 25%;
  width: 10vw;
}

.single-about .color-img img:nth-child(2) {
  top: 10%;
  right: 5%;
  width: 20vw;
}

.single-about .color-img img:nth-child(3) {
  top: 35%;
  right: 2%;
  width: 30vw;
}

.single-about .color-img img:nth-child(4) {
  top: 60%;
  right: 0;
  width: 6vw;
}

.single-about .color-img img:nth-child(5) {
  top: 70%;
  right: 8%;
  width: 15vw;
}

@media (max-width: 900px) {
  .single-about {
    padding: 20px;
    font-size: 26px;
    line-height: 40px;
  }
  .single-about #close-about {
    width: 30px;
    right: 20px;
    top: 20px;
  }
  .single-about p {
    width: 80vw;
  }
  .single-about .about-img img {
    position: relative;
    margin: 30px 20px 30px 0;
    width: 35vw;
  }
}

.cover-page {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  padding: 4vh;
  background-image: url("../images/background-texture.jpg");
  background-color: #E8EBB4;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cover-page .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.cover-page #logo {
  margin: auto;
  width: 60vw;
}

.cover-page .intro {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 2vh;
  text-align: center;
}

.cover-page .color-img img {
  position: absolute;
}

.cover-page .color-img img:nth-child(1) {
  top: 0;
  right: -4%;
  width: 20vw;
}

.cover-page .color-img img:nth-child(2) {
  bottom: 0;
  left: 0;
  width: 20vw;
}

.cover-page .color-img img:nth-child(3) {
  bottom: -5%;
  left: 26%;
  width: 15vw;
}

.cover-page .color-img img:nth-child(4) {
  top: 25%;
  right: 20%;
  width: 10vw;
}

.cover-page .color-img img:nth-child(5) {
  bottom: -6vh;
  right: -5%;
  width: 20vw;
}

.cover-page .color-img img:nth-child(6) {
  top: 5%;
  left: 10%;
  width: 8vw;
}
/*# sourceMappingURL=style-single.css.map */