/* ---------- Imports ---------- */
@import "global";

/* ----- Weeks Info ----- */
.weeks {
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;

    @media (max-width: $m-media) {
        transform: rotate(270deg);
    }
}

#up-arrow,
#down-arrow {
    position: fixed;
    height: 25vh;
    z-index: 2;
    display: block;
    left: 48.9vw;

    @media (max-width: $m-media) {
        left: 45vw;
    }
}

#up-arrow {
    top: 12%;
}

#down-arrow {
    bottom: 24%;
}

/* ----- Images ----- */

.post-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;

    .post-image img {
        width: 60vh;
        display: block;
        margin: auto;
        // border: 2px solid blue;
    
        @media (max-width: $m-media) {
            width: 50vh;
        }
    }

    @media (max-width: $m-media) {
        .image-left {
            margin-left: -200%;
        }

        .image-right {
            margin-right: -200%;
        }
    }
}

/* ----- Split Screen ----- */
.row {
    @media (max-width: $m-media) {
        overflow-x: clip;
    }
}

.col-md-6 {
    @media (max-width: $m-media) {
        width: 50%;
    }
}

.leftside, 
.rightside {
    height: 100vh;
    width: 50vw;
}

.leftside {

    #top-red {
        position: fixed;
        top: 0;
        left: 40vh;
        width: 30vh;
        z-index: -1;

        @media (max-width: $m-media) {
            display: none;
        }
    }

    #bottom-red {
        position: fixed;
        bottom: 0;
        left: -1%;
        width: 80vh;
        z-index: -1;

        @media (max-width: $m-media) {
            left: -60%;
            width: 60vh;
        }
    }
}

.rightside {

    #top-purple {
        position: fixed;
        top: -50px;
        right: -50px;
        width: 50vh;
        z-index: -1;

        @media (max-width: $m-media) {
            top: 100px;
            right: -50%;
            width: 40vh;
        }
    }

    #bottom-purple {
        position: fixed;
        bottom: -8%;
        right: 10vh;
        width: 60vh;
        z-index: -1;

        @media (max-width: $m-media) {
            display: none;
        }
    }
}




