/* ---------- Imports ---------- */
/* sass --watch style.scss:style.css  */
/* ---------- Variables ---------- */
/* ----- Global ----- */
@import url("https://use.typekit.net/hgw3osi.css");
@import url("https://use.typekit.net/hgw3osi.css");
html {
  margin: 0;
  padding: 0;
}

html, body {
  overscroll-behavior: none;
}

@media (max-width: 900px) {
  html, body {
    overflow-x: hidden;
  }
}

body {
  background-image: url("../images/background-texture.jpg");
  background-color: #E8EBB4;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ----- Typography ----- */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'covik-sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'covik-sans', sans-serif;
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
.about:hover,
.index:hover,
.post-title:hover,
.post-date:hover {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#E94545), color-stop(#FE7B51), color-stop(#8D77ED), to(#529BCE));
  background: linear-gradient(90deg, #E94545, #FE7B51, #8D77ED, #529BCE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 2s infinite linear;
  cursor: pointer;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* ----- Post Logo Header ----- */
.logo-header {
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4vh 0 0 4vh;
}

.logo-header #post-header {
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  width: 15vw;
  height: 15vh;
}

.logo-header #post-header:hover {
  background: -webkit-gradient(linear, left top, right top, from(#E94545), color-stop(#FE7B51), color-stop(#8D77ED), to(#529BCE));
  background: linear-gradient(90deg, #E94545, #FE7B51, #8D77ED, #529BCE);
  mask-image: url("/images/logo.svg");
  -webkit-mask-image: url("/images/logo.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
}

@media (max-width: 900px) {
  .logo-header #post-header {
    width: 30vw;
    height: 30vh;
  }
}

.logo-header #em-dash {
  display: none;
  height: 0.6vh;
  width: 5vh;
  background-color: #000;
  border-radius: 8px;
  margin-top: 10%;
  margin-left: 1vw;
}

/* ----- Bottom Nav----- */
.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  bottom: 0;
  z-index: 2;
  position: fixed;
  font-size: 24px;
}

.bottom-nav #index, .bottom-nav #about {
  font-family: 'covik-sans', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E8EBB4;
  outline: 3px solid black;
  padding: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .bottom-nav #index, .bottom-nav #about {
    width: 50%;
    padding: 8px;
  }
}

/* ----- Index Content ----- */
#index-content {
  display: none;
  position: fixed;
  top: 0;
  width: 40vw;
  height: 100%;
  background-color: #E8EBB4;
  outline: 2px solid black;
  z-index: 3;
  overflow: scroll;
  /* ----- Post Content ----- */
  /* ----- Nav ----- */
}

@media (max-width: 900px) {
  #index-content {
    width: 100vw;
  }
}

#index-content .overlay-bg {
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

#index-content .flex-grid-thirds {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vh;
  margin-bottom: 8vh;
  background-color: #E8EBB4;
}

#index-content .flex-grid-thirds .col-two {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

#index-content .nav-post-container {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#index-content .nav-post-container img[src$='#landscape'] {
  width: 12vw;
}

@media (max-width: 900px) {
  #index-content .nav-post-container img[src$='#landscape'] {
    width: 25vw;
  }
}

#index-content .nav-post-container img[src$='#portrait'] {
  width: 10vw;
}

@media (max-width: 900px) {
  #index-content .nav-post-container img[src$='#portrait'] {
    width: 20vw;
  }
}

#index-content .nav-post-container .post-title {
  font-family: 'covik-sans', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

@media (max-width: 900px) {
  #index-content .nav-post-container .post-title {
    font-size: 22px;
  }
}

#index-content .nav-post-container .post-date {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#index-content .topnav,
#index-content .bottomnav {
  height: 8vh;
  width: 40vw;
  position: fixed;
  z-index: 4;
  background-color: #E8EBB4;
  outline: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  #index-content .topnav,
  #index-content .bottomnav {
    width: 100vw;
  }
}

#index-content .topnav {
  top: 0;
}

#index-content .topnav #close {
  position: absolute;
  right: 20px;
  top: 2vh;
  height: 4vh;
  cursor: pointer;
}

#index-content .bottomnav {
  bottom: 0;
}

#index-content #up-arrow-sm,
#index-content #down-arrow-sm {
  height: 5vh;
}

/* ----- Weeks Info ----- */
.weeks {
  position: fixed;
  text-align: center;
  top: 40%;
  width: 100%;
}

.weeks #weektitle {
  font-family: 'covik-sans', sans-serif;
  font-weight: 700;
  font-size: 3vw;
}

.weeks #weekdate {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}

@media (max-width: 900px) {
  .weeks {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    top: 33%;
  }
  .weeks #weektitle {
    font-size: 12vw;
  }
  .weeks #weekdate {
    font-size: 6vw;
  }
}

.tap-one {
  display: none;
}

@media (max-width: 900px) {
  .tap-one {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'covik-sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    position: fixed;
    bottom: 10%;
    margin: auto;
    z-index: 3;
  }
}

#up-arrow,
#down-arrow {
  position: fixed;
  height: 25vh;
  z-index: 2;
  display: block;
  left: 48.9vw;
}

@media (max-width: 900px) {
  #up-arrow,
  #down-arrow {
    left: 45vw;
    height: 20vh;
  }
}

#up-arrow {
  top: 12%;
}

#down-arrow {
  bottom: 24%;
}

@media (max-width: 900px) {
  #down-arrow {
    bottom: 18%;
  }
}

/* ----- Post Images ----- */
.post-container {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.post-container img[src$='#landscape'] {
  width: 30vw;
}

.post-container img[src$='#portrait'] {
  width: 24vw;
}

.post-container .post-image img {
  display: block;
  margin: auto;
}

@media (max-width: 900px) {
  .post-container .post-image img {
    width: 20vh;
  }
}

/* ----- Split Screen ----- */
@media (max-width: 900px) {
  .row {
    overflow-x: clip;
  }
}

@media (max-width: 900px) {
  .col-md-6 {
    width: 50%;
  }
}

.leftside,
.rightside {
  height: 100vh;
  width: 50vw;
}

.leftside #top-red {
  position: fixed;
  top: 0;
  left: 40vh;
  width: 30vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .leftside #top-red {
    display: none;
  }
}

.leftside #bottom-red {
  position: fixed;
  bottom: 0;
  left: -1%;
  width: 80vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .leftside #bottom-red {
    left: -60%;
    bottom: 6%;
    width: 60vh;
  }
}

.rightside #top-purple {
  position: fixed;
  top: -50px;
  right: -50px;
  width: 50vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .rightside #top-purple {
    top: 100px;
    right: -50%;
    width: 40vh;
  }
}

.rightside #bottom-purple {
  position: fixed;
  bottom: -8%;
  right: 10vh;
  width: 60vh;
  z-index: -1;
}

@media (max-width: 900px) {
  .rightside #bottom-purple {
    display: none;
  }
}
/*# sourceMappingURL=style-index.css.map */