{{ define "main" }}

<link rel="stylesheet" href="{{ `css/style-single.css` | absURL }}">

<div class="single-minji">

    <!-- Weeks Info -->
    <div class="post-info">
        <a href="/index.html">
            <div class="post-title">
                {{.Title}}
                <div class="post-date">
                    {{ .Date.Format "Jan 2, 2006" }}
                </div>
                <img id="right-arrow" src="/images/up-arrow-right-sm.png"/>
            </div>
        </a>
    </div>

    <!-- Contents -->

    <div class="content-container">
        {{.Content}}
    </div>

    <!-- Post Image -->
    <img class="post-img" src="{{ .Params.image | relURL }}" alt="image" loading="lazy">


    <!-- bg graphics -->
    <img id="top-red" src="/images/top-red.png" />
    <img id="bottom-red" src="/images/bottom-red.png" />

</div>
{{ end}}
