<link rel="stylesheet" href="{{ `css/style-single.css` | absURL }}">

<div class="cover-page">

    <div class="intro-content">
        <div class="intro">Welcome to</div>
        <img id="logo" src="/images/logo.svg" />
        <div class="intro">keeping in touch, <br>with ourselves and each other</div>
    </div>

    <div class="color-img">
        <img src="/images/img6-giraffe.png" />
        <img src="/images/img7-hand.png" />
        <img src="/images/img8-flower.png" />
        <img src="/images/img9-fishclock.png" />
        <img src="/images/img10-mango.png" />
        <img src="/images/img11-flask.png" />
    </div>
    
</div>