<div class="weeks" id="weeks">

    <!-- this is posting the title of the markdown content -->
    <div id="weektitle">
        <!-- {{ range (where .Site.RegularPages "Type" "in" .Site.Params.grace) }} -->
        {{ .Title | markdownify }}
        <!-- {{ end }} -->
    </div>

    <!-- this is posting date from md file -->
    <!-- {{ range (where .Site.RegularPages "Type" "in" .Site.Params.grace) }} -->
    <div id="weekdate">
        {{ .Date.Format "Jan 2, 2006" }}
    </div>
    <!-- {{ end }} -->

</div>

<img id="up-arrow" src="../images/up-arrow.png"/>
<img id="down-arrow" src="../images/down-arrow.png"/>
