<div class="weeks" id="weeks">

    <!-- this is posting the title of the markdown content -->
    <div id="weektitle">
        <h2>
            <!-- {{ range (where .Site.RegularPages "Type" "in" .Site.Params.grace) }} -->
            {{ .Title | markdownify }}
            <!-- {{ end }} -->
        </h2>
    </div>

    <!-- this is posting date from md file -->
    <!-- {{ range (where .Site.RegularPages "Type" "in" .Site.Params.grace) }} -->
    {{ .Date.Format "Jan 2, 2006" }}
    <!-- {{ end }} -->

</div>

<img id="up-arrow" src="../images/up-arrow.png"/>
<img id="down-arrow" src="../images/down-arrow.png"/>
